body {
  
}

.body-bg {
  background: rgb(77,86,107);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(77,86,107,1) 0%, rgba(36,43,61,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(77,86,107,1)), color-stop(100%,rgba(36,43,61,1)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(77,86,107,1) 0%,rgba(36,43,61,1) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(77,86,107,1) 0%,rgba(36,43,61,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(77,86,107,1) 0%,rgba(36,43,61,1) 100%);
  background: radial-gradient(center, ellipse cover,  rgba(77,86,107,1) 0%,rgba(36,43,61,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d566b', endColorstr='#242b3d',GradientType=1 );
}

.container-bg {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.2) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.35)), color-stop(100%,rgba(0,0,0,0.2)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.2) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.2) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.2) 100%);
  background: linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#33000000',GradientType=0 );
}

.toggle-bg {
  background: #161616;
  background: -moz-linear-gradient(top,  #161616 0%, #1e1e1e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#161616), color-stop(100%,#1e1e1e));
  background: -webkit-linear-gradient(top,  #161616 0%,#1e1e1e 100%);
  background: -o-linear-gradient(top,  #161616 0%,#1e1e1e 100%);
  background: -ms-linear-gradient(top,  #161616 0%,#1e1e1e 100%);
  background: linear-gradient(top,  #161616 0%,#1e1e1e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161616', endColorstr='#1e1e1e',GradientType=0 );
}

.control {
  position: relative;
  margin-bottom: 10px;
  border-radius: 18px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, .08),
              0 1px 0 rgba(0, 0, 0, .35);
}

.broadcast-control {
  height: 36px;
  width: 95px;

}

/* select */
.select-control {
  height: 36px;
  width: 170px;
}

.video-control {
  height: 26px;
  width: 85px;
  padding: 10px;
}

.button {
  position: relative;
  height: 26px;
  width: 50px;
  border-radius: 10px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .9),
              inset 0 1px 0 rgba(255, 255, 255, .2);
  cursor: pointer;
}


    .grad1 {
      background: #000000;
      background: -moz-linear-gradient(top,  #000000 0%, #212121 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#212121));
      background: -webkit-linear-gradient(top,  #000000 0%,#212121 100%);
      background: -o-linear-gradient(top,  #000000 0%,#212121 100%);
      background: -ms-linear-gradient(top,  #000000 0%,#212121 100%);
      background: linear-gradient(top,  #000000 0%,#212121 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#212121',GradientType=0 );
    }


    .grad2 {
background: #eeeeee;
background: -moz-linear-gradient(top,  #eeeeee 0%, #b2b2b2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#b2b2b2));
background: -webkit-linear-gradient(top,  #eeeeee 0%,#b2b2b2 100%);
background: -o-linear-gradient(top,  #eeeeee 0%,#b2b2b2 100%);
background: -ms-linear-gradient(top,  #eeeeee 0%,#b2b2b2 100%);
background: linear-gradient(top,  #eeeeee 0%,#b2b2b2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#b2b2b2',GradientType=0 );

    }

   
    .broadcast-control .light {
      position: absolute;
      height: 12px;
      width: 12px;
      top: 12px;
      right: 12px;
      background: #ccc;
      background: #ac0b0b;
      border-radius: 6px;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .3),
                  0 1px 0 rgba(255, 255, 255, .2),
                  inset 0 1px 4px rgba(0, 0, 0, .5);
      -webkit-transition: background 1s;
      -moz-transition: background 1s;
      transition: background 1s;
    }

    .broadcast-control .toggle.on + .light { 
      background: #20e000;
    }

    .toggle {
      position: relative;
      height: 18px;
      width: 50px;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, .95);
      box-shadow: 0 1px 0 rgba(255, 255, 255, .2),
                  inset 0 1px 1px rgba(0, 0, 0, .9);
      cursor: pointer;
    }

    .broadcast-control .toggle {
      position: absolute;
      top: 8px;
      left: 9px;
    }

    .toggle .handle {
      position: absolute;
      height: 16px;
      width: 16px;
      top: 1px;
      left: 1px;
      border-radius: 8px;
      box-shadow: 0 8px 10px rgba(0, 0, 0, .4),
                  inset 0 1px 0 rgba(255, 255, 255, .95),
                  inset 0 -1px 0 rgba(0, 0, 0, .2);
      -webkit-transition: left .2s;
      -moz-transition: left .2s;
      transition: left .2s;
    }

    .toggle .handle .center {
      position: absolute;
      height: 6px;
      width: 6px;
      top: 5px;
      left: 5px;
      border-radius: 3px;
      background: rgba(0, 0, 0, .15);
      box-shadow: 0 1px 0 rgba(255, 255, 255, .95),
                  inset 0 1px 0 rgba(0, 0, 0, .2);
    }

    .toggle.on .handle {
      left: 33px;
    }

.container {
  position: absolute;
  top: 40%;
  left: 40%;
}

